VITE_HEADER="John Doe & Jane Doe"
VITE_HEADER_DATE="06.06.2025."
VITE_SITE_TITLE="John & Jane"
VITE_AWS_ACCESS_KEY_ID="<secret>"
VITE_AWS_ACCOUNT_ID="<secret>"
VITE_AWS_S3_BUCKET="<secret>"
VITE_AWS_S3_REGION="<secret>"
VITE_AWS_SECRET_ACCESS_KEY="<secret>"
