# APP config
DEPLOYMENT_REPO="capture-love" # <- optional
VITE_ALLOWED_HOST="example.com" # <- optional
VITE_HEADER_DATE="01.01.2025." # <- optional
VITE_HEADER="John Doe & Jane Doe" # <- required
VITE_SITE_TITLE="John & Jane" # <- required

# AWS config
VITE_AWS_ACCESS_KEY_ID="<secret>" # <- required
VITE_AWS_ACCOUNT_ID="<secret>" # <- required
VITE_AWS_S3_BUCKET="<secret>" # <- required
VITE_AWS_S3_REGION="<secret>" # <- required
VITE_AWS_SECRET_ACCESS_KEY="<secret>" # <- required
